body{
	background:#73C69A;
}
header{
	width:100%;
	height:50px;
	background:#000;
	margin:0 auto;
	position:fixed;
	top:0;
}
header ul{
    height:50px;
	margin:0;	
}
header ul li{
	display:inline-block;
	margin:15px 1%;
	font-size:14px;
	color:#fff;
}

header ul li a{
	text-decoration:none;
	color:#fff;
}
header ul li a:hover{
	text-decoration:none;
	color:#FFCC22;
}
header ul li a:visited{
	text-decoration:none;
	color:#FFCC22;
}
article{
   margin:0 auto;
   margin-top:50px;
   width:960px;
   height:100vh;
   background:#73C69A;	
}
iframe{
	overflow:hidden;
}
.logoImg{
	background-image:url('../img/logoImg.png');
	background-repeat:no-repeat; 
	background-size:555px 135px;
	width:555px;
	height:135px; 
}
footer{
	width:100%;
	height:50px;
	background:#FFCC22;
}