header{
	width:100%;
	height:50px;
	background:#000;
	margin:0 auto;
	position:fixed;
	top:0;
}
header ul{
    height:50px;
	margin:0;	
}
header ul li{
	display:inline-block;
	margin:15px 1%;
	font-size:14px;
	color:#fff;
}

header ul li a{
	text-decoration:none;
	color:#fff;
}
header ul li a:hover{
	text-decoration:none;
	color:#FFCC22;
}
header ul li a:visited{
	text-decoration:none;
	color:#FFCC22;
}
footer{
	width:100%;
	height:50px;
	background:#FFCC22;
}