
header{
	width:960px;
	height:200px;
	background:#73C69A;
	margin:0 auto;
}
header ul{
	width:890px;
    height:50px;
	margin:25px auto;
	background-color:#BA7D43;	
}
header ul li{
	display:inline-block;
	margin:7px 17.5px 0 17.5px;
	font-size:14px;	
	border-right:5px #000 solid;
	padding-right:40px;
}

header ul li a{
	text-decoration:none;
	background-size:150px 35px;
	width:150px;
	height:35px;
	color:transparent;
	display: block;
}
header ul li a:hover{
	text-decoration:none;
	color:transparent;
}
header ul li a:visited{
	text-decoration:none;
	color:transparent;
}
article{
   margin:0 auto;
   width:960px;
   height:100vh;
   background:#73C69A;	
}
iframe,canvas{
	overflow:hidden;
}
.logoImg{
	background-image:url('../img/logo.png');
	background-repeat:no-repeat; 
	background-size:370px 90px;
	width:370px;
	height:90px; 
}
.newInfo{
	background-image:url('../img/newInfo.png');
	background-repeat:no-repeat; 
	background-size:422px 43px;
	width:422px;
	height:43px; 
}
.beeContainer{
	background:#fff;
	width:890px; 
	height:70%; 
	border-radius:50px;
	margin:0 auto;
}
footer{
	width:100%;
	height:50px;
	background:#FFCC22;
}
body{
	background:#73C69A;
	overflow:hidden;
}