body{
	background:#73C69A;
	overflow:hidden;
}
header{
	width:960px;
	height:200px;
	background:#73C69A;
	margin:0 auto;
}
header ul{
    height:50px;
	margin:0;	
}
header ul li{
	display:inline-block;
	margin:15px 1%;
	font-size:14px;
	color:#fff;
}

header ul li a{
	text-decoration:none;
	background-color:#BA7D43;
	background-size:150px 35px;
	width:150px;
	height:35px;
	color:transparent;
	display: block;
}
header ul li a:hover{
	text-decoration:none;
	color:transparent;
}
header ul li a:visited{
	text-decoration:none;
	color:transparent;
}
article{
   margin:0 auto;
   width:960px;
   height:100vh;
   background:#73C69A;	
}
iframe,canvas{
	overflow:hidden;
}
.logoImg{
	background-image:url('../img/logo.png');
	background-repeat:no-repeat; 
	background-size:370px 90px;
	width:370px;
	height:90px; 
}
footer{
	width:100%;
	height:50px;
	background:#FFCC22;
}