@import url(normalbee.css) screen and (min-width: 641px);

@import url(mobilebee.css) screen and (max-width: 640px);

@import url(phonebee.css) screen and (max-width: 480px);

.listWord{
	color: black; 
	text-shadow: white 0px 2px, white 2px 0px, white -2px 0px, 
	    white 0px -2px, white -1.4px -1.4px, white 1.4px 1.4px, 
	    white 1.4px -1.4px, white -1.4px 1.4px; 
}
#secondLi li{
	display:block;
	border-right:0;
}
#secondLi li a{
	margin-left:-10px;
}
#secondLi{
	display:none;
	height:100px;
	width:160px;
	background:rgb(186,125,67);
	position:absolute;
	left:510px;
	top:165px;
	z-index:2;
}
