@import url(normalbee.css) screen and (min-width: 641px);

@import url(mobilebee.css) screen and (max-width: 640px);

@import url(phonebee.css) screen and (max-width: 480px);
::-webkit-scrollbar { 
    display: none; 
}
svg{
	margin-top:10px;
	margin-left:115px;
}
.city{
	background:url('../img/cityBackground.png');
	width:960px;
    background-size: 298px 200px;
	background-repeat:no-repeat;
    background-position-x: 645px;
}
.listWord{
	font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei";
	color: black; 
	text-shadow: white 0px 2px, white 2px 0px, white -2px 0px, 
	    white 0px -2px, white -1.4px -1.4px, white 1.4px 1.4px, 
	    white 1.4px -1.4px, white -1.4px 1.4px; 
	background: url('../img/grass.png');
    background-position: center 10px;
    background-size: 195px;
    background-repeat: repeat-x;
}
.listWord li{
	width:30%;
	height:75px;
	display:inline-block;
    padding-top: 15px;
    background: url('../img/liBackground.png');
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center 0px;
	text-align:center;
    margin-left: -40px;
}
.listWord a{
	font-size:25px;
	color:black;
    text-decoration:none;
}
.listWord a:hover,.listWord a:visited,.listWord a:active,.listWord a:link{
	color:black;
    text-decoration:none;
}
#secondLi li{
	width:100%;
	display:block;
	border-right:0;
}
#secondLi li a{
	margin-left:-10px;
}
#secondLi{
	display:none;
	height:100px;
	width:100%;
	position:absolute;
	top:155px;
	z-index:2;
}
.intro,.QA,.link{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 5%;
}
.link{
	width:85%;
}
.QA,.link{
	overflow-y:scroll;
	overflow-x:hidden;
}
#temp{
	display:none;
}
.QAbox{
	border:#FFB950 5px solid;
	height:385px;
	background:#FFFFC3;
	border-radius:10px;
	margin:0 auto;
	margin-bottom:150px;
}
.QAbox h3{
	background:#FFB950;
	margin-top:0;
	padding:10px;
}
.QAbox pre{
	color:#772B1A;
	padding:15px;
	height:285px;
	font-size:16px;
	background:#FFFFC3;
	border:0;
	overflow-y:scroll;	
}
.dotSelector{
	width:15px;
	height:65vh;
	position:absolute;
	top:35vh;
	left:20vw;
}
.dotCircle{
	width:15px;
	height:15px;
	background:#772B1A;
	display:inline-block;
	border-radius:50%;
}
.gon {
  width: 220px;
  height: 220px;
  background: #FFBF00;  
  /* Text styling */
  line-height: 220px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 6px;
  color: #000;
  color: rgba(255,255,255,.5);
  opacity:0.8;
  display:inline-block;

}
.gon:hover {
  color: #000;
  opacity:1;
}
.hexa {
  width: 190px;
  margin-bottom: -47px;
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -moz-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -ms-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
}
.hexa h4{
    line-height: inherit;
	width:190px;
	height:190px;
}
.hexa a{
    transition:ease color 3s;
	text-decoration:none;
}
.hexa a:hover{
	text-decoration:none;
	color:#000;
}