@import url(normalbee.css) screen and (min-width: 641px);

@import url(mobilebee.css) screen and (max-width: 640px);

@import url(phonebee.css) screen and (max-width: 480px);

.listWord{
	font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei";
	color: black; 
	text-shadow: white 0px 2px, white 2px 0px, white -2px 0px, 
	    white 0px -2px, white -1.4px -1.4px, white 1.4px 1.4px, 
	    white 1.4px -1.4px, white -1.4px 1.4px; 
    text-align:center;
}
.listWord li{
	width:24%;
	height:35px;
    border-right: 3px solid #000;
	display:inline-block;
	margin-top:10px;
}
.listWord a{
	font-size:25px;
	color:black;
    text-decoration:none;
}
.listWord a:hover,.listWord a:visited,.listWord a:active,.listWord a:link{
	color:black;
    text-decoration:none;
}
#secondLi li{
	width:100%;
	display:block;
	border-right:0;
}
#secondLi li a{
	margin-left:-10px;
}
#secondLi{
	display:none;
	height:100px;
	width:100%;
	background:rgb(186,125,67);
	position:absolute;
	top:155px;
	z-index:2;
}
.intro,.QA,.link{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 5%;
}
.QA,.link{
	overflow-y:scroll;
	overflow-x:hidden;
}
#temp{
	display:none;
}